<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kakaologin">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".login.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kakaologin">
        <activity android:name=".Activity.SelectActivity"></activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="YOUR_KEY" />

        <activity
            android:name=".Activity.SelectAllActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.DeleteActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.UpdateActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.InsertActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.ContentActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>